.cart-background {

    background-color: #6AC17D;
    width: 100%;
    height: 100%;

}

.cart-header {

    padding-top: 30px;
    width: 100%;
    padding-bottom: 15px;

}

.cart-header-font {

    font-family: Marker Felt;
    font-size: 50px;
    color: white;
    
}

.cart-product-background {

    background-color: white;
    width: 80%;
    height: 100%;
    
}

.cart-inside-background {
    
    background-color: #E6FFEC;
    width: 80%;
    height: 100%;
    margin-left: 10%

}

.cart-button {
    width: 130px;
    height: 50px; 
    border-radius: 20px;
    background-color: orange 
}

.cart-footer {
    margin-right: 200px; 
    margin-top: 50px;
    padding-bottom: 20px;
    text-align: right
}