.home-text-alignment {
  text-align: center;
}

.home-pic-bg {
  position: relative;
  text-align: center;
  color: white;
  max-height: auto;
  max-width: 100%;
  opacity: 90%;
}

.text-content1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(78, 78, 78);
  font-size: 50px;
  font-weight: bolder;
}

.text-content2 {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(139, 139, 139);
  font-size: 25px;
  font-weight: bolder;
}

.text-content3 {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(88, 88, 88);
  font-size: 25px;
  font-weight: bolder;
}

.text-block1 {
  position: absolute;
  top: 60%;
  left: 30%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block2 {
  position: absolute;
  top: 60%;
  left: 60%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

//ก๊อปมา อย่าถามว่าทำใง555
$body: #f37272;
$stroke: #ffffff;
$shadow: #d1d4d2;
$size: 8rem;
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
  -webkit-text-stroke-width: $property;
  -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
  -webkit-text-stroke-color: $property;
  -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
  -webkit-background-clip: $property;
  -moz-background-clip: $property;
  background-clip: $property;
}

@mixin fill-color($property) {
  -webkit-text-fill-color: $property;
  -moz-text-fill-color: $property;
}

.heading {
  font-size: $size;
  letter-spacing: 6px;
  margin: 2rem 0;

  &--stroke {
    @include stroke-width(2px);
    @include stroke-color($stroke);
    color: transparent;
  }

  &--shadow {
    text-shadow: 6px 6px $shadow;
  }

  &--stroke-shadow {
    color: $body;
    text-shadow: -2px 0 $stroke, 0 -2px $stroke, 2px 0 $stroke, 0 2px $stroke, 2px 2px $stroke, -2px -2px $stroke,
      -2px 2px $stroke, 2px -2px $stroke, 6px 6px $shadow;
  }

  &--halftone {
    position: relative;

    &:after {
      background: $halftone repeat;
      @include stroke-width(0);
      @include background-clip(text);
      @include fill-color(transparent);
      font-size: $size;
      letter-spacing: 6px;
      left: calc(50% + 6px);
      top: calc(50% + 6px);
      content: "Hello";
      z-index: -1;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    &-color {
      &:after {
        background-color: $shadow;
      }
    }
  }
}
