
.register-btn {
    position: absolute;
    right: 0px;
    width: 150px;
    color: white;
    background-color: #FFA000;
    border-color: transparent;
    border-radius: 50px;
}

.register-btn-seller {
    position: absolute;
    right: 20px;
    width: 150px;
    color: white;
    background-color: #FFA000;
    border-color: transparent;
    border-radius: 50px;
}