.profile-pic {
  position: inherit;
  margin-top: -60px;
  margin-left: 10%;
  outline: none;
  border: 0;
}

.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  color: #35356d;
}

.sell-bg {
  object-fit: cover;
  width: 100%;
  height: 337px;
}

.seller-card {
  margin: auto;
  border-radius: 20px;
}

.icon-profile {
  margin-left: 15%;
  margin-top: 15%;
}

.card-title-profile {
  margin-top: 5%;
  margin-bottom: 5%;
}

.create-button {
  color: #fff;
  background-color: rgb(106, 193, 125);
  border-color: rgb(106, 193, 125);
}

.profile-desc{
  font-size: 20px;
}
.row-desc{
  padding-bottom: 5%;
}