.card{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10px;
}
.padding{
    color: red;
}
.badge-danger{
    margin-left: 50px;
}
.already{
    color: green;
}
.status{
    float: right;
    margin-left: 60%;
}
.card-header{
    display:flex;
    width:100%;

}
.card-text{
    margin-right:10px;
}