#purchase-dropdown {
    width: 100px;
    color: white;
    background-color: #FFA000;
    border-color: transparent;
    border-radius: 50px;
}

#purchase-input {
    border-bottom: 1px;
    margin-bottom: 40px;
}

#purchase-button {
    position: absolute;
    margin-bottom: 40px;
    top: 52px;
    right: 58px;
    width: 100px;
    color: white;
    background-color: #FFA000;
    border-color: transparent;
    border-radius: 50px;
}