.container-register {
    background-color: #6ac17d;
    height: 1250px;
}

.container-register-seller {
    background-color: #6ac17d;
    height: 1350px;
}

.col-info {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    height: 1000px;
}

.form-title {
    padding-right: 350px;
    color: white;
    margin-top: 50px;
}

.container-form {
    background-color: rgb(255,255,255,0.7);
    height: 1124px;
    margin-top: 30px;
}

.container-form-seller {
    background-color: rgb(255,255,255,0.7);
    height: 1224px;
    margin-top: 30px;
}

.register-image {
    width:180px;
    height:180px;
    margin-top: 70px;
}

.upload-btn {
    width: 200px;
    margin-top: 50px;
    margin-left: 95px;
    padding-top: 10px;
    color: white;
    background-color: #ffa000;
    border-color: transparent;
    border-radius: 50px;
}

.container-inform {
    margin-top: 50px;
    padding-left: 30px;
}