/front-fresh-fruit/node_modules
/front-fresh-fruit/package-lock.json
backend/backend/secretkey.txt
backend/backend/__pycache__/
backend/frontend/__pycache__/
backend/users/__pycache__/
backend/product/__pycache__/
backend/profile/__pycache__/
backend/email_sys/__pycache__/
backend/comment/__pycache__/
backend/report/__pycache__/
backend/purchase/__pycache__/
backend/cart/__pycache__/
backend/email_sys/config.py
.vscode/